.App {
  text-align: center;
}

p, h3 {
  padding: 0;
  margin: 0;
}

header {
  background-color: #222;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.player .white-card {
  cursor: pointer;
}

.black-card {
  background-color: black;
  color: white;
}

.card-czar .black-card {
  height: 250px;
  width: 150px;
  border-radius: 5px;
}

.player-selections {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prev-selection {
  margin-left: -0%;
}

.next-selection {
  margin-right: -0%;
}

.ready,
.selected {
  background-color: black;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
